body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    /* background-color: #246e49; */
    background-image: url(../img/Otros/PoolTexture1.jpg);
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 30px;
    color: #6b1111;
    /*text-transform: uppercase;*/
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    /* CAMBIA EL COLOR DE LOS HIPERVÍNCULOS*/
    color: #23dc80;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    /* CAMBIA EL TEXTO DEL MENÚ POR MAYÚSCULAS Y MINÚSCULAS */
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    /* COLOR DE LAS LETRAS DE LA BARRA MENÚ */
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    /* COLOR DE LAS LETRAS DE LA BARRA MENÚ AL PONER EL CURSOR SOBRE ELLAS */
    color: rgba(107,17,17,1);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    /* COLOR DEL SOMBREADO DE LAS LETRAS DE LA BARRA MENÚ AL BAJAR CON EL SCROLL */
    background-color: rgba(107,17,17,1);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        /* COLOR DE LA LÍNEA DIVISORA ENTRE LA BARRA MENÚ Y LA PÁGINA */
        border-bottom: 1px solid rgba(107,17,17,.7);
        /* COLOR DE FONDO DE LA BARRA MENÚ */
        background: #246e49;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    /* CAMBIA EL COLOR DEL TÍTULO PRINCIPAL */
    color: #fff;
    background: url(../img/Otros/BolasBillar2.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
    width: 60px;
    height: 60px;
    margin-top: 15px;
    padding: 2px 15px;
    /* CAMBIA EL COLOR DEL CÍRCULO DE LA FLECHA */
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    /* CAMBIA EL COLOR DE LA FLECHA */
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;

    /* CAMBIA EL COLOR DEL BOTÓN DE LA FLECHA AL PASAR EL CURSOR ENCIMA */
    color: #6b1111;
    border: 2px solid #6b1111;
    
    /* CAMBIA EL COLOR DE FONDO DEL BOTÓN EN CÍRCULO */
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    /* background: url(../img/downloads-bg.jpg) no-repeat center center scroll; 
    background-color: #2F7451;*/
    background-image: url(../img/Otros/PoolTexture1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        /* CAMBIA EL PADDING-TOP ENTRE CADA CONTENIDO DEL BODY */
        padding-top: 80px;
    }

    .download-section {
        padding: 0px 0;

    }

    #map {
        /* CAMBIA LA ALTURA Y EL PADDING-TOP DEL MAPA HACIA ARRIBA */
        height: 400px;
        margin-top: 30px;
    }
}

.btn {
    border-radius: 0;
    /* CAMBIA LAS MAYÚSCULAS Y MINÚSCULAS DE LOS BOTÓNES VERDES */
    /* text-transform: uppercase; */
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    /* CAMBIA EL COLOR DE LOS BOTÓNES */
    border: 1px solid #23dc80;
    color: #23dc80;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #3b5998;
    outline: 0;
    color: #fff;
    background-color: #3b5998;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 0px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    /* COLOR DE FONDO CUANDO SELECCIONAMOS ALGÚN TEXTO */
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}


/* Gradient transparent - color - transparent */
hr.style-two{
    border: 0; 
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(107, 17, 17, 1), rgba(0, 0, 0, 0));
}



/* GALERÍA */

/* Global Styles */

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;

}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {

    height: 100%;
}

header.carousel .fill {
    width: 50%;
    height: 50%;
    background-position: center;
    background-size: cover;

}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

